html, body
  width: 100%

  h3
    color: #b71e1e
    text-transform: uppercase
    font-size: 1.3em
    margin-bottom: 1.5em
    margin-top: 2em

  .register-button
    display: inline-block
    background-color: #ff9000
    border: 0
    font-weight: 200
    color: white
    transition: .1s
    text-transform: uppercase
    font-size: 1.2em
    padding: 10px 30px
    border-radius: 5px
    +box-shadow(0px 2px 1px 0px rgba(0,0,0,0.5))
    text-decoration: none


    &:hover
      color: white
      background-color: #E8680C
      outline: none
      text-transform: uppercase

    &:active
      outline: none
      +box-shadow(0 0 0 0 transparent)

  .video-wrapper
    position: absolute
    top: 0
    height: 80px
    width: 100%
    overflow: hidden



    video
      position: absolute
      top: 0px
      z-index: 100

    .no-video-tag-support
      position: absolute
      top: 0px
      z-index: 0

    video, .no-video-tag-support
      &.narrow
        height: 100%
      &.wide
        width: 100%



  .header-wrapper
    +display-flex(flex)
    +flex-direction(column)
    +align-content(center)
    // position: relative
    z-index: 200
    color: white
    text-transform: uppercase
    font-family: Arial, Helvetica, sans-serif
    text-align: center

    .navigation
      +align-self(flex-start)
      +display-flex(flex)
      +flex-wrap(nowrap)
      +flex-direction(row)
      +justify-content(space-around)
      +align-items(flex-start)
      width: 100%
      position: relative
      z-index: 150

      .links
        .nav-link
          font-size: 1.8rem
          color: white
          font-family: Arial

      .scd-label
        +align-self(flex-start)
        margin-right: 40px

    .headers
      +display-flex(flex)
      +flex-wrap(nowrap)
      +flex-grow(5)
      +flex-direction(column)
      +justify-content(space-around)
      z-index: 500

      h2
        font-weight: 100
      h1
        font-weight: 900

      .btn
        margin-top: 50px
        span
          border: 2px solid white
          padding: 2px
          border-radius: 2px

  .general-information
    margin-top: 1em

  .conference-schedule
    .nav-tabs
      border: 0
      position: relative
      top: 1px

      li
        a
          color: #333

        &.active

          a
            color: black
            border: 0
            background-color: #f7f7f7
            border-bottom: 0
        &:hover
          a
            border-bottom: 0

    .tab-content
      padding: 20px 0
      background-color: #f7f7f7
      border-radius: 0 0 10px 10px

      li
        +display-flex(flex)
        +flex-direction(row)
        +justify-content(flex-start)
        margin-top: 20px

        img
          min-width: 100px
          max-width: 100px
          height: 100px
          border-radius: 50px
          margin-left: 20px
          +flex-grow(0)
          +align-self(center)

        .events
          +flex-basis(90%)
          +display-flex(flex)
          +flex-direction(column)
          +justify-content(center)
          padding-left: 15px
          background-color: white
          margin: 0 20px
          position: relative
          border-radius: 10px

          &:before
            +transform(rotate(45deg))
            content: ''
            display: block
            width: 10px
            height: 10px
            background-color: white
            position: absolute
            left: -5px
            top: 50%

          .timing
            color: #b71e1e

          .reporter
            font-size: 0.8em
            color: #888

  .committee
    .participants
      +display-flex(flex)
      +flex-direction(row)
      +flex-wrap(wrap)
      +justify-content(space-around)

      .participant-block
        display: block
        text-align: center
        padding: 15px 15px

        img
          border-radius: 50px
          height: 100px
          width: 100px
          +filter(grayscale(100%))
          transition: 1s
          &:hover
            +filter(grayscale(0%))


        .small
          font-size: 0.8em
          color: #888

  .grey
    background-color: #f7f7f7
    margin-bottom: 0px
    padding-bottom: 25px

    h3
      color: black

    ul
      li
        background: url('speaker-mark.png') no-repeat left top
        padding: 0 0px 0 40px
        list-style: none
        margin-bottom: 5px

  #map
    height: 400px
    width: 100%

  .registration-form
    margin-bottom: 40px

    label
      font-weight: 300

@media (max-width: $screen-xs-max)
  body .conference-schedule .tab-content li .events:before
    width: 0

  body .conference-schedule .tab-content li .events
    padding-bottom: 5px

  body .committee .participants .participant-block 
    padding: 0px
    margin: 0px
    p
      width: 70px
      font-size: 0.9em

    img
      width: 60px
      height: 60px
      border-radius: 30px

  body .header-wrapper
    padding-top: 50px
